<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sendmoney"
        tools:targetApi="31">
        <activity
            android:name=".newRegistration.MerchantRegistrationDoneActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".newRegistration.MerchantRegistrationActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".fundtransfer.MfsSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".fundtransfer.MfsTransferActivity"
            android:exported="false" />
        <activity
            android:name=".StateMentActivity"
            android:exported="true" />
        <activity
            android:name=".home.MainActivity"
            android:exported="true" />
        <activity
            android:name=".topup.BulkTopupDetails"
            android:exported="false" />
        <activity
            android:name=".addmoney.mobile.AddMoneySuccessActivity"
            android:exported="true" />
        <activity
            android:name=".topup.BulkTopUpActivity"
            android:exported="false" />
        <activity
            android:name=".topup.TopUpSumaryActivity"
            android:exported="false" />
        <activity
            android:name=".topup.TopupRechargeActivity"
            android:exported="false" />
        <activity
            android:name=".topup.TopupHomeActivity"
            android:exported="true" />
        <activity
            android:name=".addmoney.mobile.MfsAddmoneyReportActivity"
            android:exported="false" />
        <activity
            android:name=".addmoney.bank.BankAddMoneyReportActivity"
            android:exported="false" />
        <activity
            android:name=".addmoney.card.CardAddMoneyReportActivity"
            android:exported="false" />
        <activity
            android:name=".addmoney.mobile.MfsAddMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".addmoney.bank.BankAddMoneyActivity"
            android:exported="false"
            android:label="@string/title_activity_bank_add_money"
            android:theme="@style/Theme.Sendmoney" />
        <activity
            android:name=".addmoney.card.CardAddMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".addmoney.bank.BanklistActivity"
            android:exported="false" />
        <activity
            android:name=".addmoney.mobile.MfsListActivity"
            android:exported="false" />
        <activity
            android:name=".addmoney.card.CardListActivity"
            android:exported="false" />
        <activity
            android:name=".addmoney.AddMoneyHomeScreen"
            android:exported="true" />
        <activity
            android:name=".fundtransfer.FundTransferSuccess"
            android:exported="false" />
        <activity
            android:name=".fundtransfer.FundtransferReport"
            android:exported="false" />
        <activity
            android:name=".smoney.SendmoneyError"
            android:exported="false" />
        <activity
            android:name=".fundtransfer.FundTransferActivity"
            android:exported="true"
            android:label="@string/title_activity_fund_transfer"
            android:theme="@style/Theme.Sendmoney.NoActionBar"></activity>
        <activity
            android:name=".smoney.SendMoneySuccess"
            android:exported="false" />
        <activity
            android:name=".smoney.SendMoneyReport"
            android:exported="false" />
        <activity
            android:name=".smoney.SendMoneyPINScreen"
            android:exported="false" />
        <activity
            android:name=".smoney.SendmoneyActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Sendmoney" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sendmoney" />
    </application>

</manifest>